.container{
    display: grid;
    min-height: 200px;
}

.timerange-options-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
    align-items : center;
}

.no-style-list{
    list-style: none;
}

.time-item{
    align-self: center;
}

.timerange-options-list button {
    border: 0;
    background: inherit;
}

.selected-time-btn{
    border:0;
    color: #800000;
}

.unselected-time-btn{
    border: 0;
    background: inherit;
}